@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
}

:root {
    --font-gray: #516171;
    --heading-font-color: #092032;
    --font-dark: #092032dc;
    --main-color: #ff4d29;
    --main-bg-color: #ff4d29;
    --main-bgdark-color: #e94929;
}

body {
    line-height: 1.7;
    color: var(--font-gray)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: var(--heading-font-color)
}

a {
    color: var(--font-gray) !important;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

img {
    width: 100%;
}

.btn {
    padding: 9px 24px;
}

.btn-brand {
    background-color: var(--main-bg-color);
    color: white !important;
    border-color: var(--main-bg-color);
    font-weight: 500;
    /* border-radius: 30px; */
}

.btn-brand:hover {
    background-color: var(--main-bgdark-color);

}

.btn-outline-light {
    background: transparent !important;
    color: #ffff !important;
}

.btn-outline-light:hover {
    border-color: var(--main-color) !important;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

/* navbar------------------------------------------- */

.top-nav {
    background-color: var(--main-bg-color);
    padding: 5px 0;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #ffff;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffff !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
}

.social-links a:hover {
    background-color: #ffff;
    color: var(--main-color) !important;
}

.navbar {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
    font-weight: 700;
    font-size: 26px;
    color: var(--font-dark);
}

.navbar-brand span {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--main-color) !important;
}


/* .navbar-toggler {
    color: var(--main-color) !important;
    text-align: center !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    border: none !important;
}

.navbar-toggler-icon i {
    color: var(--main-color) !important;
    font-size: 40px;
} */


/* slider----------------------------------------- */
.slider1 {
    background-color: rgba(12, 26, 56, 0.45);
    background-image: url(/img/bg_banner1.jpg);
}

.slider2 {
    background-color: rgba(12, 26, 56, 0.45);
    background-image: url(/img/bg_banner2.jpg);
}